/* reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* document */
body {
    font-size: 1rem;
    font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
    margin: 2rem;
    counter-reset: h3;
}

#page-header, #page-footer {
    width: 100%;
    background: darkslateblue;
    color: white;
}

#page-header {
    display: flex;
    height: 4.5rem;
}

#page-header > a > img {
    height: 120%;
    width: auto;
}

#page-footer {
    font-style: normal;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
}

#page-footer img {
    height: 5%;
    width: auto;
    margin-left: 0.2rem;
    margin-bottom: 0;
}

#page-footer a {
    color: white;
}

nav > dl {
    width: 100%;
    background: rgb(230, 230, 230);
    border: solid steelblue;
    padding: 0.5rem;
}

nav a {
    color: steelblue;
}

nav a[hreflang="it"]::before {
    background: url("../../media/flag-it.svg") no-repeat;
}

nav a[hreflang="fr"]::before {
    background: url("../../media/flag-fr.svg") no-repeat;
}

nav a[hreflang="en"]::before {
    background: url("../../media/flag-en.svg") no-repeat;
}

nav a[hreflang]::before {
    background-size: 1.4rem 0.8rem;
    display: inline-block;
    width: 1.7em;
    height: 0.8rem;
    content: '';
}

#scm-marchant {
    max-width: 30%;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

figcaption {
    font-size: 0.9rem;
    color: grey;
    display: block;
}

/* images */
img, video, audio {
    width: 70%;
    height: auto;
}

iframe {
    width: 50%;
    height: calc(56.25vw - 2rem);
    border: none;
}

iframe.video {
    height: calc(100vw - 2rem);
}

/* text */
h1 {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 1rem;
}

h2 {
    font-size: 2.2rem;
    margin-top: 2.5rem;
    font-weight: 700;
}

h3 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: solid black thin;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h3:before {
    counter-increment: h3;
    content: counter(h3);
    margin-right: 2px;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

small {
    margin-top: 1rem;
    display: block;
}

article > footer {
    font-size: 1rem;
    font-style: italic;
    padding: 0.3rem;
    border: thin dashed;
    margin-top: 1rem;

}

footer > time {
    float: right;
}

/* lists */
dl > dd {
    margin-left: 1.5rem;
}

ul > li {
    margin-left: 1.5rem;

}

article > dl > dt {
    color: steelblue;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

article > dl > dd {
    margin-left: 2rem;
    display: list-item;
    list-style-type: none;
}

article dd:before {
    content: '⌖ ';
}

article > dl + div {
    margin-top: 1rem;
}

/* table */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

thead {
    background: steelblue;
    color: white;
    border-top: solid black thin;
    border-bottom: solid black thin;
}

th, td {
    padding: 0.5rem;
}

tbody > tr > th {
    text-align: left;
    font-weight: bold;;
}

tbody > tr > td {
    text-align: center;
}

tr:nth-child(2n) {
    background: rgb(230, 230, 230);
    border-top: solid steelblue;
    border-bottom: solid steelblue;
}

/* forms */
label {
    color: grey;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]), select, textarea {
    background: rgb(230, 230, 230);
    border-color: transparent;
    border-bottom: solid black thin;
    margin-bottom: 1.5rem;
}

aside form, aside form input:not([type="file"]):not([type="radio"]):not([type="checkbox"]), textarea, select {
    width: 100%;
}

.gender > span {
    display: block;
    margin-bottom: 1.5rem;
}

.verification > label {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

fieldset {
    padding: 0.5rem;
    border-color: grey;
    border-radius: 1%;
    margin-bottom: 1rem;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):hover,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):active,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus,
select:hover, select:active, select:focus, textarea:hover, textarea:active, textarea:focus {
    color: steelblue;
    border-bottom: solid steelblue medium;
}

button {
    background: darkslateblue;
    color: white;
    border-radius: 0.5rem;
    height: 2rem;
    padding: 0 1em;
}

input:not([type="radio"]):not([type="checkbox"]), select {
    height: 1.8rem;
}

.search-icon::before {
    background: url("../../media/icon-search.svg") no-repeat center left;
    background-size: 1rem 1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: '';
}

#font-size-form {
    float: right;
}

#font-slider {
    border-bottom: none;
    border-radius: 1rem;
    width: 14rem;
    height: 0.5rem;
}

#font-size-form > label, #font-size-form > input, #font-size-form > output {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
